* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.frontpage img {
    object-fit: cover;
}

/* dropdown */
nav a {
    display: block;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 13pt;
    color: #112233;
    text-align: left;
    background-color: #fff;
    padding: 10px;

}

/* nav a:hover{
        background:#223433;
        color:#f0f1f5;
    } */

/* nav ul{
        list-style: none;
    } */

nav ul li {
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
    /* background:#fc575e; */
}

nav ul ul li {
    position: relative;
    display: none;
}

nav ul ul ul {
    display: none;
}

nav ul li:hover ul li {
    display: block;
    animation: navmenu 500ms forwards;
}

/* @keyframes navmenu {
    0% {
        opacity: 0;
        top: 5px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
} */

nav ul ul li:hover ul {
    display: block;
    position: absolute;
    width: 180px;
    left: 150px;
    top: 0px;
}


/* first page */

.first:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.first {
    border: 1px solid black;
    padding: 1rem;
}

.firstbg {
    background: url(img/peanut-bg-scaled.jpg);
    background-attachment: fixed;
}

/* second page */

@import url(https://fonts.googleapis.com/css?family=Raleway);

/* body {
    background: #f9f9f9;
    font-size: 16px;
    font-family: 'Raleway', sans-serif
} */

/* .container {
    margin-top: 200px
} */

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content1 {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.content1 .content1-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content1:hover .content1-overlay {
    opacity: 1
}

.content1-image {
    width: 100%
}

.content1-image {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content1-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content1:hover .content1-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content1-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content1-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}

/* third page */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.thirdp {
    text-align: justify;
}

.background {
    background-color: var(--background);
    /* display: grid; */
    /* place-items: center; */
    /* height: 100vh; */
}

.button {
    color: black;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px;
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in;
}

.button:hover {
    color: #8D735F;
}

.button svg {
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.button rect {
    fill: none;
    stroke: #8D735F;
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.button:hover rect {
    stroke-width: 5;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: 48;
    stroke: #8D735F;
    transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}

/* fourth page */

.fourthbg {
    background-image: url(img/blog-img-07.png);
}

.layer {
    background-color: #ffffffe5;
}

/* footer */
.footers ul li {
    list-style: none;
}

.footers ul li a {
    text-decoration: none;
    color: aliceblue;
}

