* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.frontpage img {
    object-fit: cover;
}

/* dropdown */
nav a {
    display: block;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 13pt;
    color: #112233;
    text-align: left;
    background-color: #fff;
    padding: 10px;

}

/* nav a:hover{
        background:#223433;
        color:#f0f1f5;
    } */

/* nav ul{
        list-style: none;
    } */

nav ul li {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    /* background:#fc575e; */
}

nav ul ul li {
    position: relative;
    display: none;
}

nav ul ul ul {
    display: none;
}

nav ul li:hover ul li {
    display: block;
    animation: navmenu 500ms forwards;
}

/* @keyframes navmenu {
    0% {
        opacity: 0;
        top: 5px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
} */

nav ul ul li:hover ul {
    display: block;
    position: absolute;
    width: 180px;
    left: 100px;
    top: 0px;
}
/* first */
.first li {
    list-style: none;
}
.first li a{
    text-decoration: none;
    color: #9D6A32;
}
.raven{
    border: 1px solid;
    background-color:#5f5f5f;
    color:#fff;
    height: 60px;
    width: 235px;
}
.raven:hover{
    background-color: #9D6A32;
}

/* footer */
.footers ul li {
    list-style: none;
}

.footers ul li a {
    text-decoration: none;
    color: aliceblue;
}

